@page "/counter"

@inherits CounterBase

<h1 style="color: @appState.Color">Counter</h1>

<div style="display:flex;">
    <div style="width: 150px">
        <select @bind="@appState.Color" class="form-control" style="margin-top: 15px">
            <option value="green">Verde</option>
            <option value="red">Rojo</option>
            <option value="blue">Azul</option>
        </select>
    </div>
    <div style="width: 150px">
        <select @bind="@appState.Size" class="form-control" style="margin-top: 15px">
            <option value="12px">12px</option>
            <option value="20px">20px</option>
            <option value="30px">30px</option>
        </select>
    </div>
</div>

<p style="color: @appState.Color;font-size: @appState.Size">Current count: @currentCount</p>
<p>Singleton count: @Singleton.Valor</p>
<p>Transient count: @Transient.Valor</p>

<button class="btn btn-primary" 
        @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary"
        @onclick="IncrementCountJavacript">
    Click me Javascript
</button>